* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* proprietà comuni */
.container {
  width: 80%;
  margin: auto;
}

.float {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

p {
  color: #808080;
  font-size: 18px;
}

/* Inizio header */
header {
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 105%;
  background-color: #0c325a;
}

/* Inizio header-top */
.header-top {
  width: 100%;
}


/* Inizio header top left */
.header-top-logo {
  width: 15%;
  height: 80px;
  position: relative;
}

.header-top-logo img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* /header top left */


/* Inizio header top center */
.header-top-nav {
  width: 45%;
  height: 80px;
}

.header-top-nav nav {
  height: 80px;
}

.header-top-nav nav ul li {
  display: inline-block;
  padding: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 12px;
}

.header-top-nav nav ul li:hover {
  background-color: #d01924;
  border-bottom: 3px solid #68a0d7;
}

.header-top-nav nav ul li a {
  display: inline-block;
  height: 80px;
}
/* /header top center */


/* Inizio header top right */
.header-top-right {
  width: 40%;
  height: 80px;
}

.header-top-right ul li {
  display: inline-block;
  padding-right: 15px;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 12px;
}

.header-top-right ul li a {
  padding: 10px;
}

.header-top-right a.button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 25px;
}

.header-top-right a.button.empty:hover {
  background-color: #d01924;
}

.header-top-right a.button.colored {
  background-color: #7cbb02;
}

.header-top-right a.button.colored:hover {
  background-color: rgba(0, 0, 0, 0);
}
/* /header top right */


/* Inizio header bottom */
.header-bottom {
  width: 100%;
  height: 470px;
  position: relative;
  color: white;
}

.header-bottom .jumbotron {
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-bottom .jumbotron h1 {
  font-size: 48px;
  margin-bottom: 50px;
}

.header-bottom .jumbotron a {
  text-transform: uppercase;
  padding: 20px;
  background-color: #7cbb02;
  border-radius: 5px;
}

.header-bottom .jumbotron a:hover {
  background-color: rgb(255, 255, 255);
  color: #0c325a;
}
/* /header bottom */
/* /header */



/* Inizio main */
main {
  width: 100%;
  /* proprietà da rimuovere */
  /* background-color: orange; */
  /* /proprietà da rimuovere */
  margin: auto;
}

/* Inizio fascia 1 */
main #fascia1 {
  height: 150px;
  background-color: #d3d3d3;
  position: relative;
  text-align: center;
}

main #fascia1 .testo-centrato {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main #fascia1 p {
  margin-top: 15px;
}
/* /fascia 1 */

/* Inizio fascia 2 */
main #fascia2 {
  /* background-color: green; */
  text-align: center;
}

main #fascia2 div {
  width: calc(100% / 3);
  /* background-color: violet;
  border: 1px solid white; */
  padding: 35px;
}

main #fascia2 div img {
  height: 150px;
  margin-bottom: 20px;
}

main #fascia2 h3 {
  color: #7cbb02;
  font-size: 1.5em;
}

main hr {
  border: 1px solid #808080;
  background-color: #808080;
  width: 80px;
  margin: 25px auto;
}
/* /main */
